<div class="card-info ">
  <div class="row justify-content-start m-0 pb-3 card-title g-2 d-flex flex-wrap flex-column">
    <div class="card-title-events">
      <span class="card-title-events-text">People Hazardous Zone / Critical Mission </span>
    </div>
    <span class="card-title-area ">
      Updated since last 5 minutes
    </span>
    <div class="info-light">
      <ng-container [ngTemplateOutlet]="iconInfoLight">
      </ng-container>
    </div>
  </div>



  <div class="row justify-content-evenly m-0 mb-3 g-2 card_body w-100">
    <div class="col-3 text-center">
      <img class="img-operators" src="../../../../assets/images/CW_Operators3.png">
    </div>
    <div class="col-9">
      <div class="row m-0 mb-2">
        <span class="operators-name">
          Mohammad Yousef Ali
        </span>
      </div>
      <div class="row m-0 justify-content-between">
        <div class="col-9">
          <span class="operators-job">
            HSE Manager
          </span>
        </div>
        <div class="col-3">
          <span class="time">
            01:44
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-evenly m-0 mb-3 g-2 card_body w-100">
    <div class="col-3 text-center">
      <img class="img-operators" src="../../../../assets/images/CW_Operators10.png">
    </div>
    <div class="col-9">
      <div class="row m-0 mb-2">
        <span class="operators-name">
          Saleem Mohammad Sami
        </span>
      </div>
      <div class="row m-0 justify-content-between">
        <div class="col-9">
          <span class="operators-job">
            Safety Supervision
          </span>
        </div>
        <div class="col-3">
          <span class="time">
            01:20
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-evenly m-0 mb-3 g-2 card_body w-100">
    <div class="col-3 text-center">
      <img class="img-operators" src="../../../../assets/images/CW_Operators11.png">
    </div>
    <div class="col-9">
      <div class="row m-0 mb-2">
        <span class="operators-name">
          Sami Hamad Ali
        </span>
      </div>
      <div class="row m-0 justify-content-between">
        <div class="col-9">
          <span class="operators-job">
            Operator
          </span>
        </div>
        <div class="col-3">
          <span class="time">
            00:45
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-evenly m-0 g-2 card_body w-100">
    <div class="col-3 text-center">
      <img class="img-operators" src="../../../../assets/images/CW_Operators1.png">
    </div>
    <div class="col-9">
      <div class="row m-0 mb-2">
        <span class="operators-name">
          Osama Omar Ibrahem
        </span>
      </div>
      <div class="row m-0 justify-content-between">
        <div class="col-9">
          <span class="operators-job">
            Maintenance Engineer
          </span>
        </div>
        <div class="col-3">
          <span class="time">
            00:35
          </span>
        </div>
      </div>
    </div>
  </div>


</div>



<ng-template #iconInfoLight>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="12" cy="12" r="9" stroke="#B2BAC9" />
    <path
      d="M12 8.1C12.3314 8.1 12.6 7.83137 12.6 7.5C12.6 7.16863 12.3314 6.9 12 6.9C11.6686 6.9 11.4 7.16863 11.4 7.5C11.4 7.83137 11.6686 8.1 12 8.1Z"
      fill="#B2BAC9" stroke="#B2BAC9" stroke-width="0.2" />
    <path d="M12 17L12 10" stroke="#B2BAC9" stroke-linecap="round" />
  </svg>
</ng-template>