<div class="card-background card-info ">
  <div class="row justify-content-start m-0 card-title g-2">
    <span class="card-title-typography  ">
      ABCD Site
    </span>
    <span class="card-title-area " >
      RR1 Area
    </span>
  </div>
  <div class="row justify-content-evenly m-0 g-2 card_body w-100" >
    <div class="col-6 d-flex flex-wrap flex-column">
      <span class="active-people-number">
        1,148
      </span>
      <span class="active-people-text" >
        Active People
      </span>
    </div>
    <div class="col-6  d-flex flex-wrap flex-column">
      <span class="active-devices-number">
        924
      </span>
      <span class="active-devices-text">
        Active Devices
      </span>
    </div>
  </div>
</div>
